.c1{
    margin-left:5px;
    float:left;
}
.c{
    background-color: rgb(72, 73, 69);
    height:600px;
}
.c2{
  border-bottom:black solid;
  height: 450px;
}
.c1 p{
    color:#fff;
}
.c1 h3{
    color:red;
}
.c3{
    margin-left:50px;
    float:left;
}
.c3 p{
    color:#fff;
    font-weight:5px;
    width:200px;
    height:200px;
    margin-left:5px;
}
.c3 h3{
    color:red;
}
