/*.face{
    color:hsl(240, 100%, 50%);
    width:40px;
    height:40px;
    background-color: aqua;
    font-size:40px;
    border-radius:50px;
}
.whats{
    color:green;
}
.serach{
    color:brown;
}
.icon{
    position:absolute;
    color:red;
    width:150px;
    height:20px;
}

.search1{
    position:relative;
    margin-left:100px;
}
.d1{
    background-image:url("1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100%
}
.d2{
    width:400px;
    height:100px;
    overflow:scroll;
    border:black 2px solid;
}
.d3{
    width: 150px;
    height:80px;
    filter:drop-shadow(2px 2px 2px red);
}*/
